body {
   font-family: 'Montserrat', sans-serif;
   margin-top: 1rem; 

}
body * {
  margin: 0;
  border: 0;
  padding: 0;
}
 

h1 {
	font-family: 'Satisfy', cursive;
}
h2 {
  font-family: 'Satisfy', cursive;
}
.jazz {
  font-family: 'Satisfy', cursive;
}

#degradado {
background: -webkit-linear-gradient(#13303b, #22596e); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(#13303b, #22596e); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#13303b, #22596e); /* For Firefox 3.6 to 15 */
background: linear-gradient(#13303b, #22596e,); /* Standard syntax */
}
.color	{

	background-color: #22596e;
	color: #ffffff;
}

.trabajos	{

	background-color: #000;
	color: #ffffff;
}
.soyjaz {

  background-image: url('../img/bg-jazmin.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  color: #ffffff;
  min-height: 210px;
 

}

 hr {
 	height: 3px;
  text-align: center;
  width: 50%;
  border-bottom:#22596e dashed 3px;
 }

p.card-text {
	color: #000;
}

h5.card-title {
	color: #000;
	font-weight: 500;
}

 .navbar-light .navbar-toggler {
   border-color: #fff;
 }
  .fa, .fas.fa-bars {
 	color: #ffffff;
 } 

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}


a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
.carousel-indicators {
  top: 50px;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
